<h2>Students</h2>
<p>
Download:
<%= link_to "CSV", students_path(format: "csv") %> |
<%= link_to "Excel", students_path(format: "xls") %>
</p>
<div id="search">
<%= form_tag students_path, :method => 'get', :id => "students_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil, class: "btn btn-primary"%>
  </p>
<% end %>
</div>
<% if notice %>
    <h3 class="alert alert-success"><%= notice %></h3>
<% end %>
<div id="students"><%= render 'students' %></div>
<br>
<% if can? :create, Student %>
  <%= link_to 'New Student', new_student_path, class: "btn btn-large
btn-primary" %>
<h3>Import Students</h3>
<%= form_tag import_students_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", class: "btn btn-primary" %>
<% end %>
<% end %>
