<% if notice %>
    <h3 class="alert alert-success"><%= notice %></h3>
<% end %>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob %>
</p>
<p>
  <strong>Instructor:</strong>
<% if Instructor.exists?(@student.instructor_id) %>
    <%= @student.instructor.firstname + " " + @student.instructor.lastname%>
<% end %>
</p>

<p>
  <strong>Center:</strong>
<% if Center.exists?(@student.center_id) %>
    <%= @student.center.name %>
<% end %>
</p>
<p>
  <strong>Subjects taken:</strong>
  <% @student.subjects.each do |subject| %>
    <%=  subject.name %>
  <% end %>

</p>

<p>
  <strong>Days active:</strong>
  <% @student.student_days.each do |day| %>
<% if CenterDay.exists?(day.center_day_id)%>
    <%= day.center_day.school_day.abbrev %>
<% else %>
    <% day.destroy %>
<% end %>
  <% end %>

</p>

<p>
    <strong>Parent:</strong>
    <%= @student.parent.firstname + ' ' + @student.parent.lastname +
    ', ' + @student.parent.email%>
</p>

<% if can? :edit, @student %>
<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-large btn-primary" %>
<% end %>
<% if can? :read, Student %>
  <%= link_to 'All Students', students_path, class: "btn btn-large
btn-primary" %>
<% end %>
