                            <li id="fat-menu" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Requests <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><%= link_to "Pick up Work", works_path %></li>                                </ul>
                            </li>

                            <li id="fat-menu" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Center Management <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><%= link_to "My center", current_user.center %></li>
                                   <li class="divider"></li>
                                    <li><%= link_to "New student", new_student_path %></li>
                                   <li class="divider"></li>
                                    <li><%= link_to "Current students", students_path %></li>
                                   <li class="divider"></li>
                                    <li><%= link_to "Conference
                                    setup",  conferences_path %></li>

                                </ul>
                            </li>

                            <li id="fat-menu" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Account <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><%= link_to "Profile", current_user %></li>
                                    <li><%= link_to "Settings", eval("edit_#{current_user.type.to_s.downcase}_path(current_user)") %></li>
                                    <li class="divider"></li>
                                    <li>
                                        <%= link_to "Sign out", signout_path, method: "delete"  %>
                                    </li>
                                </ul>
                            </li>
