<h2><%= @user_type.to_s.pluralize.capitalize %></h2>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <% if @user_type.to_s == "instructor" %>
        <th>Center</th>
      <% end %>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <% if user.type.to_s == "Instructor" %>
           <td> <%= user.center.name %></td>
        <% end %>
        <td><%= user.status %></td>
        <td>
<% if can? :read, user %>
<%= link_to 'Show', user %>
<% end %>
</td>
        <td><% if can? :edit, user %>
<%= link_to 'Edit',
    eval("edit_#{user.type.to_s.downcase}_path(user)")%>
<% end %>
</td>
        <td>
<% if can? :destroy, user %>
<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are
you sure?' } %>
<% end %>
</td>
<td class="bttn">
<% if current_user.type.to_s == "Admin"%>
    <%= link_to 'Send message', user_conversation_path(user)
        %>
<% end %>
</td>

      </tr>
    <% end %>
  </tbody>
</table>
<br><br><br>
<% if can? :create, @user_type %>
<%= link_to "New #{@user_type}", eval("new_#{@user_type}_path"),
    class: "btn btn-large btn-primary" %>
<% end %>
<%= will_paginate %>

