<div class="row">
<div class="span6 offset3">
<%= form_for(@center) do |f| %>
  <% if @center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@center.errors.count, "error") %> prohibited this center from being saved:</h2>

      <ul>
      <% @center.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
<%= f.fields_for :center_days do |c| %>
  <%= c.label :center_days %>
  <% for day in SchoolDay.all %>
    <%= check_box_tag "center[school_day_ids][]", day.id,
    @center.center_days.include?(school_day_id: day.id) %>
    <%= day.abbrev %>
  <% end %>
<% end %>
</br></br>
    <%= f.submit class: "btn btn-large btn-primary"%>

<% end %>
</div>
</div>
