<h1>Listing school_days</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @school_days.each do |school_day| %>
      <tr>
        <td><%= school_day.name %></td>
        <td><%= school_day.abbrev %></td>
<% if can? :manage, SchoolDay %>
        <td><%= link_to 'Show', school_day %></td>
        <td><%= link_to 'Edit', edit_school_day_path(school_day) %></td>
        <td><%= link_to 'Destroy', school_day, method: :delete, data:
        { confirm: 'Are you sure?' } %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :new, SchoolDay %>
<%= link_to 'New School day', new_school_day_path, class: "btn
btn-large btn-primary" %>
<% end %>
